

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	outline: 3px solid yellow;
    padding: 0;
	margin: 0;
	
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, .title, .sortbox-title{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 	21px;
	line-height: 26px;
}


h3, .search-form label, .main-menu-item a, .row-three button, .form-line input, .copyright{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 	14px;
	line-height: 26px;
    color: black;
    text-decoration: none;
}



.container{
	margin: 0 auto;
	width: 1200px;
}

h2.big{
	font-size: 	30px;
}

.filterbox h3{
	font-family: 'PT Sans Bold' ;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.main-header{
	outline: 3px solid blue;
  position: relative;
}

.welcome-box{
	height: 508px;
	outline: 3px solid green;
    background: url(../img/title-back.jpg) no-repeat;
    padding-top: 75px;
    box-sizing: border-box;
    position: relative;
	}

.cost-btn{
  width: 133px;
  background: none;
  border: 2px solid white;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 	14px;
  line-height: 26px;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 3px;
  margin-top: 12px;
  margin-left: 96px;
}

.rangecost{
  display:inline-block;
  width: 150px;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.rangemid{
  width: 2px;
  height: 22px;
  display: inline-block;
  background-color: white;
  vertical-align: middle;
  
}

.toogle.selected {
  background-color: #1e5081;
}

.scroll-line{
  height: 2px;
  width: 318px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #918381;
  position: relative;
}

.scroll-range{
  margin-left: 10px;
}

.bar{
  height: 2px;
  background-color: white;
}

.toogle{
  position: absolute;
  top: -9px;
  border-radius: 50%;
  background-color: #ababab;
  width: 4px;
  height: 4px;
  border: 8px solid white;
}

.textrange{
  border: 2px solid white;
  width: 314px;
  border-radius: 4px;
  padding: 4px 0;
  padding-left: 3px;
  margin-top: -6px;
  margin-left: 10px;
}

.welcome-box::after{
  content: "";
  background-image: url(../img/intro-mask.png);
  position: absolute;
  width: 1200px;
  height: 57px;
  top: 451px;
}

.welcome-title{
  outline: 3px solid yellow;
  width: 458px;
  margin: 0 auto;
}

.headers{
	outline: 3px solid green;
	padding-top: 46px;
	padding-bottom: 39px;
	}

.headers-text-title{
  margin-bottom: 30px;
}

.logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.headers-text{
	width: 576px;
	margin: 0 auto;
    text-align: center;
	outline: 3px solid purple;
}

.reasons-textimage{
	outline: 3px solid blue;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81b3d2;
}

.background-first{
  height: 256px;
  width: 800px;
  float: left;
  background: #000000 url(../img/pic1.jpg) no-repeat;
  outline: 3px solid red;
}

.hashtag{
  text-align: center;
}

.bridge-img{
    background-image: url(../img/bridge.jpg);
    background-position: left;
    height: 256px;
    width: 800px;
  float: left;
}

.textbox-title{
  margin-bottom: 23px;
}

.reasons-textbox{
  box-sizing: border-box;
  outline: 3px solid purple;
  width: 400px;
  padding: 35px 50px 40px 50px;
  text-align: center;
  background-color: #81b3d2;
  color: white;
  float: left;
}

.secondrow .reasons-textbox {
  color: black;
  background: #eeeeee;
}

.right{
  float: right;
  }

.reasons-more{
	outline: 3px solid blue;	
}

.reasons-textblock{
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 143px;
    text-align: center;
	width: 400px;
	/*height: 330px; */
	float: left;
	outline: 3px solid magenta;
    margin-bottom: 70px;
}

.reasons-textimage .bridge{
	float:right;
}

.secondrow {
	width: 1200px;
}

.secondrow .reasons-textblock{
	height: 256px;
}

.texts-cont{
  margin-top: 54px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.souvenir{
  background: url(../img/gift.png) no-repeat center 60px;
}

.house{
  background: url(../img/house.png) no-repeat center 60px;
}

.food{
  background: url(../img/food.png) no-repeat center 60px;
  
}

.int-title{
  margin-bottom: 33px;
}

.map{
  height: 473px;
  outline: 3px solid blue;
  position: relative;
  overflow: hidden; 
}

.map img {
  z-index: -1;
  position: absolute;
}

.showform-btn{
	display: block;
	background-color: #766357;
	min-height: 86px;
	width: 568px;
	margin: 0 auto;	
    margin-top: 49px;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.search-hotel{
     z-index: 1;
    position: absolute;
   /* top: -370px; */
    min-height: 395px;
    width: 568px;
    left: 50%;
    transform: translateX(-50%);
    outline: 2px solid orange;
    background: white;
    box-sizing: border-box;
    padding: 55px;
}

.form-line{
  padding-bottom: 30px;
  font-size: 14px;
}

.form-line label{
  display: block;
  float: left;
  margin-top: 6px;
}

.amount-adults, .amount-kids{
  width: 114px;
  float: right;
  padding: 0;
  font-size: 0;
}

.half-line-left, .half-line-right{
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}

.half-line-right{
  padding-left: 50px;
  box-sizing: border-box;
}

.form-line input{
  background: none;
  background-color: #f2f2f2;
  border: none;
  padding: 4px 0px;
  border: 2px solid #f2f2f2;
  text-transform: uppercase;
  padding-left: 15px;
  display: block;
  float: right;
  width: 331px;
}

.amount-adults button, .amount-kids button, .amount-adults input, .amount-kids input{
  width: 38px;
  display: inline-block;
  background-color: #f2f2f2;
  margin: 0;
  padding: 5px 0;
  border: 0;
  font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
}

.search-btn{
  margin-top: 30px;
}

.search-btn{
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #81b3d2;
  border: none;
  width: 100%;
  padding: 15px;
}

footer{
	
	width: 1200px;
	margin: 0 auto;
	outline: 3px solid red;
    background-color: white;
    opacity: 0.9;
}

.footerblock{
	width: 33.33333%;
	
	outline: 3px solid gray;
	float: left;
	margin-top: 34px;
    margin-bottom: 34px;
}

.copyright{
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}

.hotels-search{
    outline: 3px solid pink;
    padding: 30px 72px;
    background: #296514 url(../img/filter_back.jpg) no-repeat;
    color: white;
}

.madeof{
  box-sizing: border-box;
  padding-left: 102px;
  padding-top: 2px;
}

.academylogo{
  margin-left: 4px;
  margin-top: 6px;
}

.hotels-search h3{
  color: white;
  font-size: 16px;
  line-height: 21px;
}



.srh-form{
    outline: 3px solid purple;
    
}

.sortby{
  display: inline-block;
}

.column-one, .column-two {
    float: left;
    width: 150px;
    outline: 3px solid red;
    box-sizing: border-box;
}

.one-title{
  margin-top: -20px;
  font-family: 'PT Sans Bold' sans-serif ;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.column-one{
  margin-right: 105px;
}

.column-one label, .column-two label {
  display: block;
  margin-top: 3px;
}

.column-three {
    float:right;
    outline: 3px solid red;
    width: 328px;
}

.sortbox{
    outline: 3px solid green;
    padding: 32px 73px;
  padding-bottom: 20px;
}

.sortboxleft{
  float: left;
}

.sortboxright{
  float: right;
}

.triangle-up{
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;
}

.triangle-down{
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #81b3d2;
    margin-left: 10px;
}

.triangle-up, .triangle-down{
  display: inline-block;
  vertical-align:bottom;
}

.sort{
  margin-left: 160px;
  font: "PT Sans" sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-top: -31px;
}

.sort-style{
  padding-right: 30px;
}

.results-column{
  float: left;
  outline: 3px solid red;
}

.descr-title .title:hover{
  color: #81b3d2;
}


.descr-title .title{
  text-decoration: none;
  color: black;
}

.descr-title a{
  text-decoration: none;
  color: black;
}

.hotels-list-item:first-child{
}

.hotels-list-item img{
  display: block;
}

.hotels-list-item .one{
  margin-right: 30px;

}

.hotels-list-item .two{
  
  width: 258px;
}
.hotels-list-item .three{
  float: right;
  box-sizing: border-box;
  padding: 0px;
}

.star{
  display: block;
  float: right;
  background-image: url(../img/star.png);
  margin-left: 7px;
  height: 16px;
  width: 16px;
}

.star:last-child{
  margin-left: 0;
}

.stars{
  height: 16px;
  outline: 1px solid black;
  font-size: 0px;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}

.three p{
  display: inline-block;
  outline: 1px solid pink;
  width: 110px;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  color: #666666;
}

.descr-one, .descr-two{
  float: left;
  outline: 2px solid black;
}

.descr-title{
  margin-bottom: 4px;
}

.descr-one{
  width: 110px;
  margin-right: 6px;
}

.descr-two{
  width: 142px;
}

.descr-button{
  display: block;
  padding: 2px 0px;
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.descr-one button{
  background: #81b3d2;
}

.descr-two button{
  background: #766357;
}

.main-menu-item a{
  display: block;
  padding: 15px 0px;
  outline: 3px solid green;
}



.hotels-list-item{
  outline: 1px solid cyan;
  margin-bottom: 1px;
  padding: 30px 73px;
}

.main-menu{
  padding: 0px 72px;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.main-menu-item .left{
  margin-right: 148px;  
}


.main-menu-item .right{
  margin-left: 167px;
}

li{
  display: inline-block;
  vertical-align: top;
  outline: 2px solid yellow;
  text-align: center
}

.main-menu-item a:hover{
  color: #9ac2db;
}

.socials{
  padding-top: 4px;
  padding-left: 125px;
  box-sizing: border-box;
}

.social{
  width: 45px;
  height: 34px;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  padding-top: 13px;
  margin-right: 3px;
}

.icon-twitter, .icon-youtube, .icon-facebook{
  width: 20px;
  height: 20px;
  color: white;
}

.srh-form input[type="checkbox"]{
  display: none;
}

.srh-form input[type="checkbox"] + label{
  margin-right: 10px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.srh-form input[type="checkbox"] + label::before{
  content: "";
  display: inline-block;
  background: url(../img/sprite.png);
  background-position: 0px -32px;
  vertical-align:bottom;
  margin-right: 9px;
  width: 22px;
  height: 22px;
}

.srh-form input[type="checkbox"]:checked + label::before{
  content: "";
  width: 26px;
  height: 22px;
  background: url(../img/sprite.png);
  background-position: 0px -64px;
  border: none;
  margin-right: 5px;
}

.social.twitter::after{
  content: "";
  background: url(../img/sprite.png);
  background-position: 0px -125px;
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 15px;
}

.social.facebook::after{
  content: "";
  background: url(../img/sprite.png);
  background-position: 0px -96px;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 19px;
}

.social.youtube::after{
  content: "";
  background: url(../img/sprite.png);
  background-position: 0px -150px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
}

a img{
  z-index: 5;
  position: relative;
}