body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	outline: 3px solid yellow;
    padding: 0;
	margin: 0;
	
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, .title{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 	21px;
	line-height: 26px;
}


h3, .search-form label, .main-menu-item a, .row-three button{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 	14px;
	line-height: 26px;
    color: black;
    text-decoration: none;
  
}

.row-three button{
  height: 27px;
  color: white;
}

.container{
	margin: 0 auto;
	width: 1200px;
}

h2.big{
	font-size: 	30px;
}

.filterbox h3{
	font-family: 'PT Sans Bold' ;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.main-header{
	outline: 3px solid blue;
	height: 56px;
  position: relative;
}

.welcome-box{
	height: 508px;
	outline: 3px solid green;
	}

.headers{
	outline: 3px solid green;
	padding-top: 46px;
	padding-bottom: 39px;
	}

.headers-text-title{
  margin-bottom: 30px;
}

.logo{
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.headers-text{
	width: 576px;
	margin: 0 auto;
    text-align: center;
	outline: 3px solid purple;
}

.reasons-textimage{
	outline: 3px solid blue;
    margin: 0;
    padding: 0;
}

.background-first{
  height: 256px;
  width: 800px;
  float: left;
  background: #000000 url(../img/pic1.jpg) no-repeat;
  outline: 3px solid red;
}

.hashtag{
  text-align: center;
}

.bridge{
    background-image: url(../img/bridge.jpg);
    background-position: left;
}

.textbox-title{
  margin-bottom: 23px;
}

.reasons-textbox{
  box-sizing: border-box;
  outline: 3px solid purple;
  width: 400px;
 
  padding: 35px 50px 40px 50px;
  text-align: center;
  background-color: #81b3d2;
  color: white;
  float: left;
}

.secondrow .reasons-textbox {
  color: black;
  background: #eeeeee;
}

.right{
  float: right;
  }

.reasons-more{
	outline: 3px solid blue;	
}

.reasons-textblock{
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 143px;
    text-align: center;
	width: 400px;
	/*height: 330px; */
	float: left;
	outline: 3px solid magenta;
    margin-bottom: 70px;
}

.reasons-textimage .bridge{
	float:right;
}

.secondrow {
	width: 1200px;
}

.secondrow .reasons-textblock{
	height: 256px;
}

.texts-cont{
  margin-top: 54px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.souvenir{
  background: url(../img/gift.png) no-repeat center 60px;
}

.house{
  background: url(../img/house.png) no-repeat center 60px;
}

.food{
  background: url(../img/food.png) no-repeat center 60px;
  
}

.int-title{
  margin-bottom: 33px;
}

.map{
	height: 473px;
	outline: 3px solid blue;
  position: relative;
}

.map img {
  z-index: -1;
  position: absolute;
}

.showform-btn{
	display: block;
	background-color: #766357;
	min-height: 86px;
	width: 568px;
	margin: 0 auto;	
    margin-top: 49px;
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.search-hotel{
    z-index: 1;
	min-height: 395px;
	width: 568px;
	margin-left: auto;
	margin-right: auto;
	outline: 2px solid orange;
    background: white;
}

footer{
	min-height: 120px;
	width: 1200px;
	margin: 0 auto;
	outline: 3px solid red;
    background-color: white;
    opacity: 0.9;
}

.footerblock{
	width: 33.33333%;
	height: 52px;
	outline: 3px solid gray;
	float: left;
	margin-top: 34px;
}

.hotels-search{
    min-height: 157px;
    outline: 3px solid pink;
    padding: 30px 72px;
}

.srh-form{
    outline: 3px solid purple;
    min-height: 155px;
}

.sortby{
  display: inline-block;
}

.column-one, .column-two {
    float: left;
    min-height: 155px;
    width: 150px;
    outline: 3px solid red;
}

.column-three {
    min-height: 155px;
    float:right;
    outline: 3px solid red;
    width: 328px;
}

.sortbox{
    min-height: 86px;
    outline: 3px solid green;
}

.results-column{
  float: left;
  outline: 3px solid red;
}

.hotels-list-item:first-child{
  margin-top: 1px;
}

.one{
  margin-right: 30px;
  min-height: 90px;
}

.two{
  height: 90px;
}
.three{
  float: right;
  height: 90px;
}

.row-one, .row-two, row-three{
  min-height: 30px;
  outline: 3px solid green;
  margin: 0;
  padding: 0;
}

.main-menu-item a{
  display: block;
  padding: 15px 0px;
  outline: 3px solid green;
}



.hotels-list-item{
  outline: 1px solid cyan;
  margin-bottom: 1px;
  padding: 30px 73px;
}

.main-menu{
  padding: 0px 72px;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.main-menu-item .left{
  margin-right: 148px;  
}

.main-menu-item .right{
  margin-left: 167px;
}

li{
  display: inline-block;
  vertical-align: top;
  outline: 2px solid yellow;
  text-align: center
}

.main-menu-item a:hover{
  color: #9ac2db;
}



a img{
  z-index: 5;
  position: relative;
}